**/.env*
**/.DS_Store
**/.idea
**/.vscode

**/node_modules
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/htmlcov
**/.git
*.pyc
*.pyo
*.egg-info

.env
.venv
logs
dist
build
docs
*.db
*.sql.gz
.cache
.project
.idea
.pydevproject
.vagrant/
.sass-cache

**/Dockerfile*
**/docker-compose*.yml
**/*.md